@charset "utf-8";
/* CSS Document */
img, iframe {
	max-width: 100%;
	display: block;
}
header {
	background-color: #fff;
	padding: 10px 0;
}
.logo {
	max-width: 370px;
	margin: 11px 0;
}
.logo a {
}
.logo a img {
	width: 100%;
}
.logo h2 {
	margin-bottom: 0;
}
header .header-right {
	margin: 12px 0;
}
header .header-right ul li {
	display: inline-block;
	vertical-align: bottom;
}
header .header-right ul li + li .single-header-right {
	border-left: 1px solid #dedcdc;
	margin: 0 0 0 20px;
}
header .header-right ul li .single-header-right .text-box, header .header-right ul li .single-header-right .icon-box {
	display: table-cell;
	vertical-align: middle;
}
header .header-right ul li .single-header-right .icon-box {
	text-align: center;
	padding: 0 20px;
}
header .header-right ul li .single-header-right .icon-box i {
	color: #D9B448;
	font-size: 30px;
}
header .header-right ul li .single-header-right .text-box p {
	color: #676767;
	line-height: 20px;
	font-size: 14px;
}
.navigation {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.navbar-default {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand {
	display: none;
}
.navbar-wp {
	background: transparent;
	border-bottom: none;
}
.navbar-wp .navbar-nav>li>a {
	padding: 15px;
	color: #676767;
	/* text-transform: none; */
	/* font-weight: normal; */
	position: relative;
	font-size: 13px;
}
.navbar-nav>li.dropdown .dropdown-toggle:after {
	content: "\f107";
	font-family: FontAwesome;
	margin-left: 10px;
}
.navbar-wp.navbar-arrow .navbar-nav>li.open>a:after {
	content: "\f106";
	position: static;
	border: none;
	margin-left: 10px;
}
.section-title-wr-top h3.section-title.left {
	color: #3d51a3;
	font-size: 22px;
	font-weight: 900;
}
.section-title-wr-top h3.section-title.left span {
	color: #000;
	font-weight: 300;
	display: block;
}
.border-line {
	width: 50px;
	height: 5px;
	background-color: #3e52a3;
	margin: 15px 0;
}
.sidebar {
	/* border-left: 1px solid #dedede; */
    /* padding-left: 21px; */
	background-color: #f5f5f5;
}
.sidebar h3.section-title.left {
	background-color: #3d51a3;
	color: #fff;
}
.sidebar h3.section-title.left i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	text-align: center;
	margin-right: 15px;
	color: #fff;
}
ul.list {
	padding: 0 15px 15px 15px;
}
ul.list li {
	position: relative;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}
ul.bullet-list li:before {
	content: "\f00c";
	font-family: 'FontAwesome';
	padding-right: 10px;
}
ul.list li:last-child {
	border-bottom: none;
}
ul.list li:before {
}
ul.list li a {
	font-weight: bold;
	display: block;
}
ul.list li a.read-btn {
	border: none;
	color: #013782;
}
ul.btn-list li a {
	color: #333;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
}
ul.btn-list li span { display: inline-block;
	vertical-align: middle;}
ul.btn-list li a:hover {
	
}
ul.btn-list li a span {
	display: block;
}
ul.btn-list li {
	border-bottom: 1px dashed #ccc;
}
.wp-block.inverse .figure {
	max-height: 195px;
	overflow: hidden;
}
.facebook-page {
	padding: 0 15px;
}
.wp-section div.text-right b {
	display: block;
}
.img-align-left {
	float: left;
	margin: 0 15px 15px 0px;
	width: 120px;
}
.icon-block-body h4 {
	font-size: 17px;
}
.button-wrapper {
}
.button-wrapper a.btn {
	padding: 15px 20px 15px 57px;
	text-align: center;
	background-color: #013782;
	border: none;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-right: 18px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase; 
	background: rgba(115,31,62,1);
background: -moz-linear-gradient(top, rgba(115,31,62,1) 0%, rgba(199,42,102,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,31,62,1)), color-stop(100%, rgba(199,42,102,1)));
background: -webkit-linear-gradient(top, rgba(115,31,62,1) 0%, rgba(199,42,102,1) 100%);
background: -o-linear-gradient(top, rgba(115,31,62,1) 0%, rgba(199,42,102,1) 100%);
background: -ms-linear-gradient(top, rgba(115,31,62,1) 0%, rgba(199,42,102,1) 100%);
background: linear-gradient(to bottom, rgba(115,31,62,1) 0%, rgba(199,42,102,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#731f3e', endColorstr='#c72a66', GradientType=0 );
}
.button-wrapper a.btn i {
	width: 50px;
	height: 76px;
	line-height: 76px;
	background-color: #ce3d73;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.button-wrapper a.btn span {
	display: block;
	font-size: 14px;
}
.button-wrapper a.btn:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); /* IE6-9 */
}
.button-wrapper a.btn:hover i {
	background-color: #000;
}
.news-list {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.news-list:last-child {
	border-bottom: none;
}
.contact-info ul {
}
.contact-info ul li {
	position: relative;
	font-size: 17px;
	/* height: 60px; */
	display: block;
	padding-left: 67px;
	padding-top: 11px;
	margin-bottom: 26px;
}
.contact-info ul li a {
}
.contact-info ul li i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #013782;
	color: #013782;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.contact-info ul li p {
}
.intro-section {
	padding: 20px 0;
}
.sec-title h2 {
	margin: 0;
	font-size: 27px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	color: #383838;
	line-height: 22px;
	text-transform: uppercase;
}
.intro-section .sec-title h2 {
	font-size: 32px;
	line-height: 38px;
	text-align: center;
}
.intro-section .sec-title span {
	color: #00a553;
}
.intro-section p {
	font-size: 14px;
	line-height: 26px;
}
.sec-title {
	border-right: 1px solid #232323;
	margin-bottom: 27px;
}
.service-sec {
	padding: 20px 0;
}
.service-box {
	position: relative;
	padding-left: 70px;
	margin-bottom: 15px;
}
.service-box .icon-box {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 45px;/* text-align: center; */
	display: block;/* border: 1px solid #00a553; */
	position: absolute;
	top: 0px;
	left: 0;
}
.service-box .icon-box i {
	color: #00a553;
}
.service-box .text-box {
}
.service-box .text-box h4 {
	color: #272727;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 300;
}
.service-box .text-box p {
}
.full-img-sec {
	background: #2d2d38;
	z-index: 1;
	padding: 73px 0;
	position: relative;
	min-height: 503px;
}
.full-img-sec:before {
	content: '';
	width: 55%;
	height: 100%;
	position: absolute;
	background: url(../images/full-img-2.jpg) fixed right center;
	background-size: cover;
	top: 0;
}
.full-img-sec:after {
	content: '';
	width: 45%;
	height: 100%;
	background: url(../images/bg2.jpg) no-repeat center center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
.full-img-sec .container {
	position: relative;
	z-index: 9999;
}
.full-img-sec ul, .full-img-sec li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.full-img-sec p {
	margin: 0;
	color: #ffffff;
	line-height: 26px;
}
.full-img-sec .left-content {
	padding: 0;
	padding-right: 40px;
}
.full-img-sec .left-content .sec-title h2 {
	color: #FDFDFD;
}
.full-img-sec .left-content ul li {
	font-size: 16px;
	line-height: 32px;
	color: #ffffff;
}
.full-img-sec .left-content ul li:before {
	content: '\f0a9';
	margin-right: 11px;
	font-family: 'FontAwesome';
}
.full-img-sec .left-content .sec-title, .team-bg .sec-title, .sewa .sec-title {
	border: none;
}
.sec-title h2.white {
	color: #fff;
}
.sec-title .decor-line {
	background: #3e52a3;
	width: 50px;
	height: 3px;
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
}
.white a.btn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	background-color: #00a553;
	color: #fff;
	border-radius: 0;
}
.white a.btn:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.white a.btn:hover, .white a.btn:focus, .white a.btn:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);/* move the element up by 5px */
}
.white a.btn:hover:before, .white a.btn:focus:before, .white a.btn:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.team-bg {
	background-color: #f6f6f8;
	padding: 40px 0;
}
.team-bg.team-bg2 {
	background-color: #f3f5f6;
}
.team-bg.team-bg2 .team-carousel .item {
	text-align: center;
}
.team-bg.team-bg2 .team-carousel .item img {
	width: auto;
	display: block;
	margin: 0 auto 25px auto;
}
.team-bg.team-bg2 .team-carousel .item p {
	color: #777777;
	font-size: 15px;
}
.team-bg.team-bg2 .team-carousel .item .text-box h3 {
	font-size: 18px;
	font-style: italic;
	color: #000;
	padding: 30px 0;
}
.team-bg.team-bg2 .team-carousel .item .text-box img {
	margin: 0 auto;
}
.sec-page-team .single-team-member {
	margin: 0 0 50px 0;
}
.sec-page-team .team-bg {
	padding: 99px 0 69px 0;
}
.single-team-member {
	margin-top: 8px;
}
.single-team-member h4, .single-team-member p {
	margin: 0;
}
.single-team-member h4 {
	font-size: 16px;
	color: #242424;
	line-height: 19px;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}
.single-team-member p {
	font-size: 11px;
	text-transform: uppercase;
	color: #8C8C8C;
	line-height: 19px;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}
.single-team-member .text-box {
	border-bottom: 1px solid #E1E1E1;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: background .4s ease;
	transition: background .4s ease;
}
.single-team-member .img-box {
	position: relative;
}
.single-team-member .img-box img {
	width: 100%;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}
.single-team-member .img-box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.single-team-member .img-box .overlay .box {
	display: table;
	width: 100%;
	height: 100%;
}
.single-team-member .img-box .overlay .box .content {
	display: table-cell;
	vertical-align: bottom;
	overflow: hidden;
}
.single-team-member .img-box .overlay .box .content ul {
	background: #3e52a3;
	margin: 0;
	margin-left: -12px;
	margin-right: -12px;
	-webkit-transform: translate3d(0, 35px, 0);
	transform: translate3d(0, 35px, 0);
	-webkit-transition: -webkit-transform .4s ease, visibility .4s ease, opacity .4s ease;
	transition: transform .4s ease, visibility .4s ease, opacity .4s ease;
	visibility: hidden;
}
.single-team-member .img-box .overlay .box .content ul li {
	padding: 0 12px;
}
.single-team-member .img-box .overlay .box .content ul li a {
	color: #fff;
	font-size: 16px;
	line-height: 35px;
	display: block;
}
.single-team-member:hover .img-box img {
	opacity: .4;
}
.single-team-member:hover .img-box .overlay .box .content .social {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0px, 0);
	transform: translate3d(0, 0px, 0);
}
.single-team-member:hover .text-box {
	background: #333340;
}
.single-team-member:hover .text-box h4, .single-team-member:hover .text-box p {
	color: #fff;
}
.footer {
	background: #141415;
	padding: 70px 0;
}
.footer h2, .footer h4, .footer ul, .footer li, .footer p {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer p {
	line-height: 24px;
	color: #838486;
}
.footer .title {
	margin-bottom: 6px;
}
.footer .title h2 {
	margin: 0;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	color: #D5D5D5;
	line-height: 26px;
	position: relative;
	top: -5px;
	font-style: italic;
}
.footer .title .decor-line, .footer .title2 .decor-line {
	background: #3d51a3;
	width: 45px;
	height: 1px;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}
.footer .tel-box .icon-box, .footer .tel-box .text-box {
	display: table-cell;
	vertical-align: top;
}
.footer .tel-box .icon-box i {
	font-size: 20px;
	color: #838486;
}
.footer .tel-box .text-box {
	padding-left: 10px;
}
.footer .tel-box .text-box h4 {
	font-size: 20px;
	line-height: 22px;
	color: #C4D114;
	font-weight: 600;
}
.footer .tel-box .text-box p {
	color: #838486;
	font-size: 14px;
	line-height: 22px;
}
.footer .tel-box .text-box p a {
	color: #838486;
}
.footer .links-widget.links-widget-pac {
	padding: 0 0 0 25px;
}
.footer .links-widget ul {
	margin-top: 1px;
}
.footer .links-widget ul li {
	margin-bottom: 10px;
}
.footer .links-widget ul li:last-child {
	margin-bottom: 0;
}
.footer .links-widget ul li a {
	font-size: 15px;
	color: #838486;
	line-height: 18px;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}
.footer .links-widget ul li a:before {
	content: '\f105';
	font-family: 'FontAwesome';
	margin-right: 11px;
}
.footer .links-widget ul li a:hover {
	color: #46B9E3;
}
.footer .social li a {
	width: 35px;
	height: 35px;
	border: 1px solid #484848;
	color: #6B6B6B;
	text-align: center;
	display: block;
	border-radius: 50%;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	margin-right: 5px;
}
.footer .social li a i {
	font-size: 17px;
	line-height: 33px;
}
.footer .social li a i .fa-google-plus {
	font-size: 12px;
}
.footer .social li a:hover {
	color: #3d51a3;
	border-color: #3d51a3;
}
.footer .subscribe-widget input {
	width: 100%;
	height: 45px;
	background: #ffffff;
	font-size: 15px;
	line-height: 45px;
	border-radius: 4px;
	padding: 0 65px 0 20px;
	color: #838486;
	border: none;
}
.footer .about-widget > p {
	margin-top: 22px;
}
.footer .about-widget .tel-box {
	margin: 15px 0;
}
.footer-bottom {
	background: #0c0c0c;
	padding: 15px 0;
}
.footer-bottom p {
	margin: 0;
	color: #494949;
	font-size: 14px;
}
.footer .newsletter-widget {
	position: relative;
	margin: 15px 0 20px 0;
}
.footer .newsletter-widget .thm-button {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0 15px;
	color: #fff;
	height: 45px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: #3d51a3;
	border: none;
}
.footer .newsletter-widget .thm-button i {
	margin: 0;
}
.footer-bottom p {
	color: #ffffff;
	font-size: 13px;
}
.footer-bottom p a {
	color: #3d51a3;
}
.graph, .sewa {
	padding: 40px 0;
}
a.canvasjs-chart-credit {
	display: none;
}
.sewa .client {
	padding: 0 10px;
	border: none;
}
.right-content .sec-title {
	border: none;
}
.footer-widget a.download-app {
	display: inline-block;
	margin: 15px 0;
	background-color: #3d51a3;
	position: relative;
	padding: 10px 20px 10px 54px;
	text-align: left;
	font-size: 15px;
}
.footer-widget a.download-app i {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 40px;
}
.footer-widget a.download-app span {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.footer-widget a.download-app:hover {
	background-color: #000;
	border-color: #000;
}
.service {
	padding: 40px 0;
	background-color: #1d1d1d;
}
.service .title {
	text-align: center;
	max-width: 960px;
	margin: 0 auto;
}
.service .title h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.service .title h2 span {
	font-weight: bold;
}
.service .title .lead {
	color: #fff;
	font-size: 17px;
	letter-spacing: 1px;
}
.service-list {
	letter-spacing: -5px;
	margin-top: 50px;
}
.service_item {
	display: inline-block;
	width: 31.33%;
	text-align: center;
	border-left: 1px dashed #3c3c3c;
	border-bottom: 1px dashed #3c3c3c;
	padding: 35px 15px 0 15px;
	letter-spacing: 0px;
	cursor: pointer;
}
.service_item .icon {
	display: block;
	margin: 0 auto;
	width: 100px;
}
.service_item h3 a {
	color: rgb(113, 113, 113);
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	margin-top: 12px;
}
.service_item h3 a span {
	display: block;
}
.noleft-border {
	border-left: none;
}
.nobottom-border {
	border-bottom: none;
}
.light-bg {
	background-color: #eee;
}
.intro {
	padding: 50px 0;
}
.inner-title {
}
.inner-title h2 {
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 300;
}
.inner-title h2 span {
	font-weight: 900;
}
.inner-title .lead {
	font-weight: 300;
	letter-spacing: 1px;
}
.intro p {
	font-size: 15px;
	line-height: 27px;
}
.table>thead>tr>th, .table>tbody>tr>td {
	padding: 10px 15px;
}
.scheme {
	padding: 30px 0;
}
.scheme-list {
}
.scheme_item {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.42);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.42);
}
.scheme_item h4 {
	background-color: #3e52a3;
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 0;
}
.scheme_item ul.list {
	padding: 6px 20px 20px 20px;
}
.scheme_item ul.list li {
	border-bottom: 1px solid #ccc;
	padding: 7px 0;
}
.scheme_item ul.list li a {
	font-weight: normal;
}
.block p {text-overflow: ellipsis;height: 60px;overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;display: -webkit-box;}
.date {display: block;color: #848282;font-style: italic;font-size: 12px;}
.contact_box {    margin-bottom: 20px; border: 1px solid #ccc;padding: 10px 20px;-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.42);-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.42);box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.42);}
.contact_box h3{border-bottom: 1px solid #ccc;padding-bottom: 8px;font-size: 15px;text-transform: uppercase;}
.contact_box p{ }
.contact_box p i{width: 20px;height: 20px;line-height: 20px;border: 1px solid #ccc;display: inline-block;text-align: center;font-size: 11px;margin-right: 10px;}