@media(max-width: 1199px) {
	.navbar-wp .navbar-nav>li>a {
    padding: 15px 7px; }
}

@media (min-width: 1025px) {
}

@media(max-width: 1024px) {
.full-img-sec {
	background: #2d2d38;
	z-index: 1;
	padding: 0;
}
.full-img-sec .img-box img {
	max-width: none;
}
.full-img-sec .left-content {
	padding-top: 60px;
	padding-bottom: 60px;
}
header .header-right ul li + li .single-header-right { margin: 0 0 0 15px;}

}

@media(max-width: 768px) {
.full-img-sec {
	background: #2d2d38;
	z-index: 1;
	position: relative;
	height: 100%;
}
.full-img-sec::before {
	content: '';
	width: 100%;
}
.full-img-sec::after {
	display: none;
}
.navbar-brand {
    display: block;
} 
}

@media (max-width: 640px) {
.service .title h2 {
	font-size: 20px;
}
.service .title .lead {
	font-size: 13px;
}
.service_item {
	width: 100%;
	border: none;
	border-top: 1px dashed #676767;
}
.client img { margin: 0 auto;}
}

@media (max-width: 480px) {
.sec-title h2 {
	line-height: 40px;
	font-size: 22px;
}
.sec-pad {
	padding: 68px 0;
}
.sec-title {
	margin-bottom: 25px;
}
.sec-title .decor-line {
	background: #C4D114;
	width: 50px;
	height: 3px;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.full-img-sec .img-box img {
	width: 100%;
}
.inner-title h2 {
    font-size: 20px;}
	.sec-title { text-align: center;}
	.full-img-sec .left-content { padding-right: 0}
}

@media (max-width: 360px) {
}


